<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class='text-center'>タイムテーブルの作成</h1>
    </div>
    <div class="col-xs-12">
      <p class='text-center fes-title'><span>フェス概要</span></p>
    </div>
    <div class="col-xs-12">
      <div class='container'>
        <div class='fes-form'>
          <%= form_with model: @time_table, local: true do |f| %>
            <div='form-field'>
              <%= f.label :name %>
              <%= f.text_field :name, class:'form-control' %>
            </div>
            <div class='form-field'>
              <%= f.label :stage %><br>
              <%= f.number_field :stage, class:'form-control', in: 1..4 %>
            </div>
        </div>
        <p class='text-center fes-title'><span>タイムテーブル</span></p>
        <div>
          <p class='text-center'>２ステージ</p>
        </div>
      </div>
    </div>
    <div class="form-row">
      <%= f.fields_for :schedules do |a| %>
        <div class='form-group'>
          <%= a.label :artist_id, a.object.appearance_time.strftime('%H:%M')%>
          <%= a.collection_select :artist_id, Artist.all, :id, :name, { prompt: true }, class:'form-select'  %>
          <%= a.hidden_field :appearance_time %>
        </div>
      <% end %> <%# fields_for %>
    </div>
    <div class='fes-commitment'>
      <%= f.label :commitment %>
      <%= f.text_area :commitment, class:'form-control', size: "5x10" %>
    </div>
    <div class='form-group text-center'>
      <%= f.submit t('time_tables.new.create_time_table'), class:'btn btn-primary' %>
    </div>
  <% end %> <%# form_with %>
  </div>
</div>
