<div class='container'>
  <div class='row'>
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t '.title' %></h1>
      <%= render 'form', user: @user %>
      <%# <%= simple_form_for @user do |f| %1> %>
      <%#   <%= f.input :name,  required: false, placeholder: '山田 太郎' %1><br /> %>
      <%#   <%= f.input :email, required: false, placeholder: 'example@example.com' %1><br /> %>
      <%#   <%= f.input :password, hint: '※3文字以上で入力してください' %1><br /> %>
      <%#   <%= f.input :password_confirmation %1><br /> %>
      <%#   <%= f.submit class: 'btn btn-primary' %1> %>
      <%# <% end %1> %>
    </div>
  </div>
</div>
