<!DOCTYPE html>
<html>
  <head>
    <title>MakingTheFestival</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# bootstrapの導入%>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %> 
      <%= render 'shared/header' %> <%# ログイン中のユーザーのHeader %>
    <% else %> 
      <%= render 'shared/not_login_header' %> <%# ログインしていないユーザーのHeader %>
    <% end %>
    <%= render 'shared/flash'%>  <%# フラッシュメッセージ %>
      <%= yield %>
    <%= render 'shared/footer'%> <%# フッター%>
  </body>
</html>
